<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/news/media.css">
    <link rel="stylesheet" href="/css/index/normalize.css">
    <link rel="stylesheet" href="/css/news/news.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <nav class="header-navigation">
                    <ul class="header-list">
                        <li class="header-list__item">
                            <a th:href="@{/index}" class="header-list__link">
                                Главная
                            </a>
                        </li>
                        <li class="header-list__item">
                            <a th:href="@{/chat}" class="header-list__link">
                                Чат
                            </a>
                        </li>
                        <li class="header-list__item-active">
                            <a th:href="@{/news}" class="header-list__link-active">
                                Новости
                            </a>
                        </li>
                        <li class="header-list__item">
                            <a th:href="@{/profile}" class="header-list__link">
                                Профиль
                            </a>
                        </li>
                         <li class="header-list__item">
                                <a th:href="@{/login}" class="header-list__link">
                                    Войти
                                </a>
                            </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main-container">
<!--            <div sec:authorize="hasRole('ADMIN')" class="add-news-button">-->
            <div class="add-news-button">
                <button id="add__button">Добавить</button>
                <div class="add-news">
                    <form th:method="post" th:action="@{/news}" class="add-news-form"
                            enctype="multipart/form-data" th:object="${news}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <input type="text" name="name" id="news-name"
                               placeholder="Введите название новости" th:field="*{name}">
                        <textarea name="description" id="news-description" cols="30" rows="5"
                                  placeholder="Введите описание новости" th:field="*{description}"></textarea>
                        <input id="add-news-attach-file_button" accept="image/jpeg,image/png,image/gif"
                               type="file" name="file">
                        <button type="submit" id="add-news_button">Добавить новость</button>
                    </form>
                </div>
            </div>
            <div th:if="${!allNews.isEmpty()}" class="main-container-items">
                <div th:each="pieceNews : ${allNews}" class="item">
                    <div class="item-photo">
                        <img th:src="@{/img/news/{fileName}(fileName=${pieceNews.getFileName()})}" alt="photo">
                    </div>
                    <div class="item-text">
                        <div class="item-title">
                            <h2 th:text="${pieceNews.getName()}">NAME</h2>
                        </div>
                        <div class="item-description">
                            <p th:text="${pieceNews.getDescription()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer-content">
        <p class="footer-content_item">Реклама</p>
        <p class="footer-content_item">Music by BAD-TR!P</p>
        <p class="footer-content_item"><span class="by">Designed and created</span> by Brahma</p>
    </footer>
    <script src="/JS/main.js"></script>
</body>
</html>