<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/register/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        
        <div class="login-content">
            <h1>Зарегистрироваться</h1>
            <div class="login-forms">
                <form th:method="post" th:action="@{/register}" th:object="${user}" id="login-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div th:if="${#fields.hasErrors('globalError')}" th:errors="*{globalError}" style="color: red"></div>
                    <input th:field="*{username}"
                           name="username" class="login-input" id="name"
                           th:errorclass="formsFail"
                           autocomplete="new-password" placeholder="Введите логин"/>

                    <input th:fiels="*{password}"
                           type="password" class="login-input" name="password"
                           th:errorclass="formsFail"
                           id="pass" autocomplete="new-password" placeholder="Введите пароль"/>

                    <input th:field="*{confirm_password}"
                           type="password" class="login-input" name="repass"
                           id="repassword" autocomplete="new-password"
                           th:errorclass="formsFail"
                           placeholder="Подтвердите пароль" />

                    <!-- <button type="submit" id="btn_register">Зарегистрироваться</button> -->
                    <button type="submit" class="login-input" id="submit">Зарегистрироваться</button>
                </form>
            </div>
            <a th:href="@{/login}">Уже есть аккаунт?</a>
        </div>
    </div>
</body>
</html>